<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<!-- <template-baru message="pesan berdarah"></template-baru> -->
			<template-baru :namas="nama" :umur="umur"></template-baru>
		</div>
		<template id="post-template">
			<div>
				<ul>
					<li>Sekolah Koding</li>
					<li>Sekolah Koding 2</li>
					<!-- <li>{{ message }}</li> -->
					<li>{{ namas }}</li>
					<li>{{ umur }}</li>
				</ul>
			</div>
		</template>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
		<script>
			// var templateBaru = Vue.extend({
			// 	template: '<h1>Sekolah koding</h1>',
			// });
			// register
			// Vue.component('template-baru', templateBaru);
			Vue.component('template-baru', {
				template: '#post-template',
				// props: ['message'],
				props: ['namas', 'umur'],
			});
			var data = { nama: 'iqbal', umur: '10' };
			var vo = new Vue({
				el: '#app',
				data: data,
			});
		</script>
	</body>
</html>
