<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Document</title>
		<style>
			.fade-transition {
				transition: opacity 0.5s ease;
			}
			.fade-enter,
			.fade-leave {
				opacity: 0;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<ul>
				<li><a href="#" @click="currentView='home'">Home</a></li>
				<li><a href="#" @click="currentView='members'">Members</a></li>
			</ul>
			<component
				:is="currentView"
				transition="fade"
				transition-mode="out-in"
				keep-alive
			></component>
		</div>
		<template id="home-template">
			<h1>Selamat datang</h1>
		</template>
		<template id="members-template">
			<ul>
				<li v-for="member in members">{{ member }}</li>
			</ul>
		</template>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
		<script>
			Vue.component('home', {
				template: '#home-template',
			});
			Vue.component('members', {
				template: '#members-template',
				data: function () {
					return {
						members: ['test', 'testing', 'testinger'],
					};
				},
			});
			var data = {
				currentView: 'home',
			};
			var vo = new Vue({
				el: '#app',
				data: data,
			});
		</script>
	</body>
</html>
