<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<div v-if="done">{{biodata}}</div>
			<div v-else>maaf data kosong</div>
			<!-- directive loop -->
			<ul>
				<li v-for="member in members" track-by="$index">
					{{ member.nama }} - {{ member.umur }}
				</li>

				<h2>Filter</h2>
				<li v-for="member in members | filterBy 'k' in 'nama'">
					{{ member.nama }}
				</li>
			</ul>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
		<script>
			var data = {
				nama: 'iqbal',
				umur: 31,
				a: 1,
				// biodata: '',
				done: false,
				members: [
					{ nama: 'budi', umur: 20 },
					{ nama: 'kreshna', umur: 10 },
				],
			};
			var vo = new Vue({
				el: '#app',
				data: data,
				computed: {
					biodata: {
						get: function () {
							return this.nama + ' umurnya : ' + this.umur;
						},
						set: function (params) {
							var credential = params.split(' ');
							this.nama = credential[0];
							this.umur = credential[1];
						},
					},
				},
			});
		</script>
	</body>
</html>
