<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="texty" />
			<p>{{texty}}</p>
            <input type="checkbox" v-model="genre" value="cowo"> Laki2</input>
            <input type="checkbox" v-model="genre" value="cewe"> Perempuan</input>
            <p>{{genre}}</p>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.js"></script>
		<script>
			var data = {
                genre: [],
				url_google: 'https://google.com',
			};
			var vo = new Vue({
				el: '#app',
				data: data,
			});
		</script>
	</body>
</html>
