<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vue tagit</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>Vue Js Tag it</h1>
			<input type="text" name="tags" v-model="tag_temps" /> <br />
			<br />
			<div id="tag_form">
				<span id="tag_temp_wrapper">
					<span class="tag_temp" v-for="tag_temp in tag_temps">
						{{ tag_temp }}
						<span class="close_tab_temp" @click="removeTag(tag_temp)">X</span>
					</span>
				</span>

				<input
					id="tag_input"
					type="text"
					@keyup="showList()"
					@keyup.down="filterDown"
					@keyup.up="filterUp"
					v-model="keyword"
					@keyup.enter="addTag"
					@keyup.delete="removeTag"
				/>
			</div>
			<ul id="tag_lists" v-bind:class="{hidden: isHidden}">
				<li
					class="tags"
					v-for="tag in filteredTags"
					@mouseover="mouseOver"
					@mouseLeave="mouseLeave"
					@click="addTag('viaclick', $event)"
				>
					{{ tag }}
				</li>
			</ul>
		</div>

		<script>
			var data = {
				tags: ['html', 'css', 'js', 'php'],
				isHidden: true,
				arrow_pos: 0,
				keyword: '',
				tag_temps: [],
				isEmpty: '',
			};
			var vo = new Vue({
				el: '#app',
				data: data,
				computed: {
					filteredTags() {
						_self = this;
						return this.tags.filter(function (tag) {
							_used = _self.tag_temps.indexOf(' ' + 'tag' + ' ') < 0;
							return tag.indexOf(_self.keyword) >= 0 && _used;
						});
					},
				},
				methods: {
					showList: function () {
						this.isHidden = false;
					},
					filterDown: function () {
						this.setHighlight(1);
					},
					filterUp: function () {
						this.setHighlight(-1);
					},
					mouseOver: function (event) {
						event.target.className += ' active';
					},
					mouseLeave: function (event) {
						event.target.classList.remove('active');
					},
					setHighlight: function (val) {
						_isFirst = true;
						_tags = document.getElementsByClassName('tags');
						// hapus css sebelumnya
						for (var i = 0; i < _tags.length; i++) {
							if (_tags[i].classList.contains('active')) {
								_tags[i].classList.remove('active');
								_isFirst = false;
							}
						}
						this.arrow_pos += val;
						if (this.arrow_pos < 0) this.arrow_pos = 0;
						if (this.arrow_pos >= _tags.length)
							this.arrow_pos = _tags.length - 1;
						if (_isFirst) {
							_tags[0].className += ' active';
							this.arrow_pos = 0;
						} else {
							_tags[this.arrow_pos].className += ' active';
						}
					},
					addTag: function (via, event) {
						if (via == 'viaclick') _tag = event.target.textContent;
						else
							_tag =
								document.getElementsByClassName('tags')[this.arrow_pos]
									.textContent;
						this.tag_temps.push(_tag);
						this.keyword = '';
						this.isHidden = true;
					},
					removeTag: function (el) {
						if (typeof el == 'string') {
							var index = this.tag_temps.indexOf(el);
							this.tag_temps.splice(index, 1);
						} else {
							if (this.keyword != '') {
								this.isEmpty = false;
							}
							if (this.isEmpty) {
								this.tag_temps.splice(-1, 1);
							}
							if (this.keyword === '') {
								this.isEmpty = true;
							}
						}
						this.isHidden = true;
					},
				},
			});
		</script>

		<style>
			body {
				font-family: sans-serif;
				margin: 10% auto;
				width: 80%;
			}
			input:focus {
				outline: none;
			}
			#tag_temp_wrapper,
			.tag_temp,
			#tag_form {
				display: flex;
			}
			#tag_form {
				border: 1px solid black;
				height: 30px;
			}
			#tag_input {
				height: 30px;
				width: 100%;
				overflow: hidden;
			}
			#tag_lists {
				list-style-type: none;
				padding-left: 5px;
				border: 1px solid black;
			}
			.hidden {
				display: none;
			}
			.active {
				background: rgb(232, 57, 200);
				color: white;
			}
			.tag_temp {
				background: rgb(232, 57, 200);
				color: white;
				padding: 2px 4px;
				margin: 2px;
			}
			.close_tag_temp {
				background: rgb(232, 237, 237);
				color: red;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				padding: 5px;
				margin-left: 5px;
				line-height: 12px;
			}
		</style>
	</body>
</html>
